/* color palette from https://github.com/vuejs/theme */

/* ✅ FONT GLOBAL VIA TAILWIND */
@layer base {
  body {
    @apply font-poppins text-base;
  }
}

/* ❌ JANGAN reset font-weight */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* ✅ ROOT TYPOGRAPHY BASE */
html {
  font-size: 18px; /* sesuai design system */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
